/* inscription */

a {
  cursor: pointer;
}
img {
  max-width: 100%;
}
label {
  font-weight: bold;
}
button {
  width: 100%;
  display: block;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
}
.griya__incription-page {
  height: 100vh;
  background-color: rgba(33, 111, 237, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.griya__inscription-container {
  width: 85vh;
  height: 90%;
  padding: 3rem;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.griya__incription-logo {
  align-self: center;
  margin-bottom: 1rem;
}
.griya__inscription-container form {
  margin: 2rem 0;
  width: 100%;
  align-self: flex-start;
}
.inscrition_form-input {
  display: flex;
  flex-direction: column;
}

.inscrition_form-input input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 4px 0;
  height: 2.5rem;
  font-weight: bold;
}
.griya__inscription-container button {
  margin-top: 1rem;
  background-color: blue;
  height: 2.5rem;
}
.foot-paragraph {
  align-self: flex-start;
}

/* connection */
.griya__connexion-page {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(93, 93, 247);
}
.griya__connexion-container {
  height: 95vh;
  width: 70rem;
  display: flex;
}

.griya__connexion-left {
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee8e820;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 60%;
}
.griya__conexion-left_info {
  font-size: 18px;
}

.griya__conexion-left_info p {
  margin: 2rem 0;
}
.griya__connexion-right {
  padding: 4rem 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 40%;
  background-color: #fff;
}
.griya__connexion-right form {
}
.connexion_form-input {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.connexion_form-input input {
  border: 0;
  outline: none;
  padding: 1rem 0;
  border-bottom: 2px solid black;
}
.griya__connexion-right button {
  height: 2.5rem;
  background-color: blue;
  margin-bottom: 2rem;
}
.griya__connexion-right p {
  margin: 1rem 0;
}
